<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>ReceiptsReader</title>
<style th:inline="text">
	#uploaded{
	display: flex;
	}
	#market_data{
		display:flex;
		flex-direction: column;
		margin: 20px;
	}
	#market_data input {
		margin-bottom: 15px;
	}
	#item{
		border: 1px solid black;
		margin: 5px;
		padding: 5px;
	}
</style>
</head>
<body>
	<h1>Paste your receipt there</h1>
	<p th:text="${message}" th:if="${message ne null}"></p>
	<form method="post" th:action="@{/upload}"
		enctype="multipart/form-data">
		<input type="file" name="file">
		<button type="submit">Read Text</button>
	</form>
	<div id="uploaded">
		<img style="position: fixed; bottom:0px; right:0px;" height="100%" th:src="@{'data:image/png;base64,'+${imageAsBase64}}" alt="" />
		<form th:if="${!receiptForm.receiptItems.empty}" th:object="${receiptForm}" method="post" th:action="@{/addReceiptData}">
			<div id="market_data">
				<p>Sklep :</p> 
				<label for="market_name">Nazwa :</label>
				<input id="market_name" type="text" th:field="*{receipt.market.name}">
				<label for="market_address">Adres :</label>
				<input id="market_address" type="text" th:field="*{receipt.market.address}">
				<label for="market_partnership">Nazwa spółki :</label>
				<input id="market_partnership" type="text" th:field="*{receipt.market.partnership}">
				<span th:if="${#fields.hasErrors('receipt.market.partnership')}" th:errors="*{receipt.market.partnership}">Lox</span>
				<label for="market_p-address">Adres spółki :</label>
				<input id="market_p-address" type="text" th:field="*{receipt.market.partnershipAddress}">
			</div>
			<div id="item_data">
				<p>Artykuły : </p>
				<div id="item" th:each="entry : *{receiptItems}" th:style="${#fields.hasErrors('receiptItems[__${entry.key}__]')} ? 'border-color:red' : 'border-color:black'">
					<img width="481" height="28" th:src="@{'data:image/png;base64,'+${entry.key}}" alt="" />
					<table>
						<thead>
							<tr>
								<th align="left">Nazwa</th>
								<th align="left">Ilość</th>
								<th align="left">Cena</th>
								<th align="left">Podsumowanie</th>
								<th align="left">Typ podatku</th>
							</tr>
						</thead>
						<tbody>
							<tr> 
								<td><input id="item_name" type="text" th:field="*{receiptItems[__${entry.key}__].item.name}">
								<td><input style="width:80px" id="item_amount" type="text" th:field="*{receiptItems[__${entry.key}__].amount}"></td>
								<td><input style="width:120px" id="item_price" type="text" th:field="*{receiptItems[__${entry.key}__].itemPrice}"></td>
								<td><input style="width:120px" id="item_price_sum" type="text" th:field="*{receiptItems[__${entry.key}__].priceSum}"></td>
								<td><input style="width:80px" id="item_tax_sign" type="text" th:field="*{receiptItems[__${entry.key}__].item.tax.sign}"></td>
							</tr>
						</tbody>
					</table>
					<p th:text="${entry.value.lineTextByOCR}"></p>
				</div>
			</div>
			<button type="submit">Akceptuj</button>
		</form>
	</div>
</body>
</html>